.http-method-badge {
  padding: 0.2rem 0.6rem;
  border-radius: 9rem;
  margin-right: 0.5rem;
  color: black;
  font-family: monospace;
  font-size: 1rem;
  font-weight: bold;
}

.route-name {
  font-size: 1.1rem;
  font-family: monospace;
}
